{% extends 'women/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>All Content is Open Access and Free for Readers
Journals published by Women Journal are fully open access: research articles, reviews or any other content on this platform is available to everyone free of charge. To be able to provide open access journals, we finance publication through article processing charges (APC); these are usually covered by the authors' institutes or research funding bodies. Read more about our open access policy.</p>
{% endblock %}